<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de la compra</title>
</head>

<body>

    <p>{$nombre}</p>
    <p>{$direccion}</p>

    <h1>Carrito de la compra</h1>

    <form action="" method="post">
        <label id="id_manzanas">Manzanas</label>
        <input type="number" id="id_manzanas" name="manzanas">
        <br><br>
        <label id="id_fresas">Fresas</label>
        <input type="number" id="id_fresas" name="fresas">
        <br><br>
        <label id="id_sandias">Sandías</label>
        <input type="number" id="id_sandias" name="sandias">
        <br><br>
        <input type="submit" id="id_añadir" name="añadir" value="Añadir">
    </form>

</body>

</html>